Header  {
    display: inline;
    position: inline;
    top: 75px;
    right:150px;
    width: 250px;
    height: 250px;
    border: 2px solid #4aaaa5;
    background-color: #fff;
}

.navStyle{
    position:fixed;
    width: 100%;
    background-color: #ccc;
    margin: 0 0 30px;
    padding: 20px;
    overflow: auto;
}